@import '../../app/styles/variables.sass'

.tableRow
  display: grid
  grid-template-columns: 110px 757px 800px
  font-size: 14px  
  border-bottom: 1px solid $colorDarkGrey    

.iconContainer  
  display: flex  
  align-items: center
  position: relative
  
.iconWrapper
  display: flex
  align-items: center
  padding-right: 25px  
  
.iconWrapper button
  &:disabled
    cursor: not-allowed

.iconWrapperHovered
  border-radius: 6px
  background-color: $colorDarkGrey
  padding: 2px 7px 2px 2px
  z-index: 1

.rootLine 
  position: absolute
  top: 30px
  left: -9px
  width: 12px
  height: 1px
  background-color: $colorWhitePrimary
  margin-right: 5px

.rootVerticalLine 
  position: absolute
  top: 40px
  left: 10px
  width: 1px
  background-color: $colorWhitePrimary

.numbersCellWrapper 
  display: flex
  // width: 100%
  // justify-content: space-between
  flex: 3

.cellWrapper
  display: flex
  flex: 1
  align-items: center  
  padding: 12px
  cursor: pointer

.cellText
  width: 100%
  min-width: 200px
  padding: 12px
.textWrapper 
  padding: 12px
.rowInput
  width: 100%
  background-color: transparent
  font-family: $fontTextPrimary
  font-size: 14px
  color: $colorGrey
  padding: 10px
  outline: none
  border: 1px solid $colorDarkGrey
  border-radius: 6px

